@{
    ViewBag.Title = "Изменение пароля";
}
<p align="right">
    Имя компьютера: @ViewBag.NAME<br />
    Имя пользователя: @ViewBag.USER<br />
    IP-адрес: @ViewBag.IP @Request.ServerVariables["REMOTE_ADDR"]
</p>
<h2>Изменение пароля администратора</h2>
<p>
    Пароль администратора системы был успешно изменен.
</p>
